<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaxMind.Db" version="4.0.0" targetFramework="net48" />
  <package id="MaxMind.GeoIP" version="2.1.17" targetFramework="net45" />
  <package id="MaxMind.GeoIP2" version="5.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.14" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Sitecore.Analytics" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.CES.GeoIp" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.CES.GeoIp.Core" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
</packages>